@keyframes fade-transition {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    30%  {
        opacity: 0;
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.isFadeTransition {
    animation-name: fade-transition;
    animation-duration: .6s;
}